.navbar-custom { 
    background-color: rgb(4, 110, 110) !important; 
}

.col-md-8,.col-sm-12 {
    background-color: white;
}

.col-md-4,.col-sm-12 {
    background-color: white;
}

.h1 {
    color: rgb(4, 110, 110); 
}

.h2 {
    color: rgb(4, 110, 110); 
}

body { 
    padding-top: 130px;
    background-color: whitesmoke;
}

.h3 {
    color: rgb(4, 110, 110); 
    text-align: center;
}

#compbox {
  background-color: white;
}

.box {
  float: right;
  height: 300px;
  width: 375px;
  margin-bottom: 15px;
  background-color: white;
}

.thumbnail:hover {
  border: solid 5px rgb(4, 110, 110);
  margin: -5px; 
}