.navbar-custom { 
    background-color: rgb(4, 110, 110) !important; 
}

.h1 {
    color: rgb(72, 45, 134); 
}

body { 
    padding-top: 65px; 
}

/* box for landing page */
div.box{ 
    height: 420px; 
    width: 820px; 
    background: #e1e3ec; 
    margin: 20px; 
  } 

  /* box for visualization pages */
  div.box2{ 
    height: 820px; 
    width: 820px; 
    background: #e1e3ec; 
    margin: 20px; 
  } 

/* box for visualizations on landing page */
  div.box3{ 
    height: 340px; 
    width: 320px; 
    background: #e1e3ec; 
    margin: 20px; 
  } 