{% extends "parent.html" %}
{% block content %}
<div class="container">
<h1>Max Temperature</h1>
    <img src="{{ url_for('static', filename='Fig1.png')}}"> 
    <p>The scatter plot above analyzes the maximum temperate of over 500 random cities vs each citys respective latitude. This graph show that cities closer to the equator (latitude degree of 0) have higher max temperatures. Additionally, the temperature for cities is not distibuted evenly accross the latitude. Cities in the norther hemisphere show to have more lower max temperatures while cities in the southern hemisphere have warmer temperatures.</p>
</div>
{% endblock %}